<div class="dashboard">
  <div class="container">

    <div class="row">
      <div class="categories container-fluid" ui-view autoscroll='false'>
        <div class="row-fluid category-row">
          <div class="col-md-3 category-container" ng-repeat="subcat in mySubCategories">
            <div class="category">
              <div>
                <h3 ui-sref="index.subcategories.results({subcategory: subcat.subcategory, subcatID: subcat})" ng-click="updateSubCategory({ subcategory: subcat.subcategory, subcatId: subcat })" class="title sub">{{ subcat.Subcategory }}</h3>
                <div class="stat2">
                  <i class="fa fa-star fa-fw"></i>129
                </div>
                <div class="stat2">
                  <i class="fa fa-comments fa-fw"></i>129
                </div>
                <div class="stat2">
                  <i class="fa fa-plus fa-fw fa-lg" ng-click="follow({subCategoryId: subcat.subcategory_id})"></i>follow
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <h2 class="quote-headline text-center">When One Teaches, Two Learn</h2>
    <p class="quote-ref text-center">- Robert Heinlen</p> -->
    <div class="row">
      <div class="col-md-6">
            <ul class="nav nav-pills" role="tablist">
              <li role="presentation" class="active"><a href="#">My Subcategories <span class="badge">4</span></a></li>
            </ul>

          <div class="panel panel-info panel-bottom-margin">
            <div class="panel-heading">
              <h3 class="panel-title">
                <!-- <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> -->
                <!-- <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> -->
                Learn Calculus
              </h3>
            </div>
            <div class="panel-body">
              http://www-math.mit.edu/~djk/calculus_beginners/
            </div>
          </div>

          <div class="panel panel-info panel-bottom-margin">
            <div class="panel-heading">
              <h3 class="panel-title">
                <!-- <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> -->
                How To Avoid Senioritis
              </h3>
            </div>
            <div class="panel-body">
              http://www.nacacnet.org/studentinfo/articles/Pages/Senioritis.aspx
            </div>
          </div>
          <div class="panel panel-info panel-bottom-margin">
            <div class="panel-heading">
              <h3 class="panel-title">
                <!-- <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> -->
                Cure For Cancer
              </h3>
            </div>
            <div class="panel-body">
              http://www.webmd.com/cancer/features/cancer-cure-closer
            </div>
          </div>
          <div class="panel panel-info panel-bottom-margin">
            <div class="panel-heading">
              <h3 class="panel-title">
                <!-- <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> -->
                Get Over Your Cold Faster
              </h3>
            </div>
            <div class="panel-body">
              http://symptoms.webmd.com/cold-and-flu-map-tool/getting-through-day-while-sick
            </div>
          </div>
      </div>

      <div class="col-md-6">
          <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active"><a href="#">My Posts <span class="badge">2</span></a></li>
          </ul>

        <div class="panel panel-info panel-bottom-margin">
          <div class="panel-heading">
            <h3 class="panel-title">
              Nice Article On Learning Calculus
            </h3>
          </div>
          <div class="panel-body">
            http://www.calculus.org
          </div>
        </div>

        <div class="panel panel-info panel-bottom-margin">
          <div class="panel-heading">
            <h3 class="panel-title">
              Guide To Learning JavaScript
            </h3>
          </div>
          <div class="panel-body">
            http://eloquentjavascript.net/
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
